@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container-overlay {
    position: relative;
    /* margin: 10%;
    border: 2px solid black;*/
}


/*CENTER CAROUSEL OVERLAY*/

.make-it-more-readable:after {
    content: "";
    /* old IE fallback */
    width: 200%;
    height: 400%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.over1 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: white;
    padding: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*border: 2px solid white;*/
    letter-spacing: 0.1em;
    font-weight: 200;
    min-height: 125px;
    display: table;
    text-align: center;
}

.over2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    letter-spacing: 0.2em;
    font-weight: 200;
    min-width: 30%;
    line-height: 70px;
    display: table;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}

.text-overlay {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 23px;
}

.bigger .text-overlay {
    font-size: 25px;
}

.outlined {
    outline: 3px solid white;
    outline-offset: -2.7em;
}

.outlined2 {
    outline: 2px solid #333;
    display: inline-block;
    padding: 0.5em 1em;
    font-weight: 500;
}

.justifyed p {
    text-align: justify;
}

.justifyed li {
    text-align: justify;
}

.outlined3 {
    outline: 3px solid white;
    outline-offset: -7em;
}

#img-corporate {
    background-position: 70% 70% !important;
}

.moveit {
    background-position: 30% 30% !important;
}

.blacked {
    color: #fff;
    background-color: #333;
    outline: 2px solid #333;
    display: inline-block;
    padding: 0.5em 1em;
}

.moved {
    background-position: 30% 30% !important;
}

.no-padding {
    padding: 20px 0;
}