.footer h6 {
    font-family: 'Oswald';
    font-size: 1.2em;
    font-style: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 0px;
    border-bottom: none;
}


/************************************************
*	20.	Footer  								*
************************************************/

.footer {
    margin: 0px auto 0px;
    padding: 24px 0px 0px 0px;
}

.restaurant-content-overlap .footer .content {
    margin-top: 0px;
}

.footer .padded {
    padding-bottom: 0px;
}

.footer .outline {
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
}

.footer-widgets {
    padding: 0px 12px;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.footer-widgets .widget {
    float: left;
    background: #000000;
    width: 20%;
    background: none;
    color: #999999;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border-bottom: none;
}

.footer-widgets .widget:nth-child(4n+1) {
    clear: both;
}

.footer-widgets .widget:nth-child(4n+4) {
    width: 40%;
}

.footer-widget {
    padding: 24px;
}

.footer-information {
    padding: 24px;
    overflow: hidden;
}

.footer-information a {
    color: #999999;
}

.footer .align-left {
    font-size: 0.9em;
    line-height: 1.8;
}

.shadow {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.24);
}

.radius-top {
    /* border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -khtml-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;*/
}


/************************************************
*	27.	Grid	 					     	    *
************************************************/

#wrap {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px auto 0px;
    padding: 0px;
}

.row {
    width: 100%;
    margin: 0 auto;
}

.row .row {
    min-width: 0;
}

.column,
.columns {
    float: left;
    min-height: 1px;
    position: relative;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

.row .single {
    width: 100%;
}

.row .half {
    width: 49.9%;
}

.row .third {
    width: 33.3%;
}

.row .fourth {
    width: 25%;
}

.row .fifth {
    width: 20%;
}

.row .half,
.row .third,
.row .fourth,
.row .fifth {
    float: left;
}

.row .one {
    width: 6.25%;
}

.row .two {
    width: 12.5%;
}

.row .three {
    width: 18.75%;
}

.row .four {
    width: 25%;
}

.row .five {
    width: 31.25%;
}

.row .six {
    width: 37.5%;
}

.row .seven {
    width: 43.75%;
}

.row .eight {
    width: 50%;
}

.row .nine {
    width: 56.25%;
}

.row .ten {
    width: 62.5%;
}

.row .eleven {
    width: 68.75%;
}

.row .twelve {
    width: 75%;
}

.row .thirteen {
    width: 81.25%;
}

.row .fourteen {
    width: 87.5%;
}

.row .fifteen {
    width: 93.75%;
}

.row .sixteen {
    width: 100%;
}

.row .centered {
    float: none;
    margin: 0 auto;
    width: 100%;
}


/* Nicolas Gallagher's micro clearfix */

.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}

.row {
    width: 100%;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: visible !important;
}

.row .single,
.row .half,
.row .third,
.row .fourth {
    width: 100%;
}

.row .row .column,
.row .row .columns {
    padding: 0;
}


/************************************************
*	15.	Widgets									*
************************************************/

.widget {
    margin-bottom: 24px;
    padding: 0px;
    word-wrap: break-word;
}

.widget ul,
.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget li {
    display: block;
    margin: 6px 0px 0px 0px;
    padding: 6px 0px 0px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.widget li:last-child {
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.widget li li {
    padding-left: 12px;
}

.widget li li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.widget li a {
    margin: 0px;
    padding: 0px;
}

.textwidget {
    margin: 0px;
    padding: 0px;
}

.textwidget p {
    padding: 8px 0px;
}

.tagcloud,
.wp_widget_tag_cloud {
    line-height: 1.1;
}

.widget_search {
    overflow: hidden;
}

.widget_contact_info .contact-map {
    margin-bottom: 12px;
}

@media only screen and (max-width: 767px) {
    .footer-widget {
        padding: 6px 0px;
    }
    .footer-widgets .widget:last-child {
        margin-bottom: 12px;
    }
    .footer-widgets .widget:first-child .footer-widget {
        padding-top: 0px;
    }
    .footer-widgets {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .footer-widgets .widget {
        width: 100% !important;
        margin: 0px;
        padding: 0px;
    }
}


/************************************************
*	8.	Content 					     	    *
************************************************/

.content {
    position: relative;
    background: #ffffff;
    max-width: 1080px;
    width: 100%;
    margin: 0px auto 0px;
    padding: 0px;
}

.content.no-bg {
    background: none;
}

.content.not-set.overlap,
.restaurant-content-overlap .content:first-child {
    margin-top: -24px;
    z-index: 9;
}

.category.restaurant-content-overlap .sidebar,
.blog.restaurant-content-overlap .sidebar {
    margin-top: 24px;
}

.outline {
    position: relative;
    padding: 12px;
    border: 2px dotted rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

.outline::before,
.outline::after,
.content::before,
.content::after {
    display: table;
    content: "";
}

.outline::after,
.content::after {
    clear: both;
}

.padded {
    padding: 12px;
}

.blog-holder {
    background: #ffffff;
    position: relative;
    margin-bottom: 24px;
}

.archive .content .hentry {
    position: relative;
    margin-bottom: 24px;
}

.article {
    display: block;
    overflow: hidden;
}

.postarea {
    padding: 24px;
}

.postarea.full {
    padding: 36px;
}

.post-author {
    display: inline-block;
    color: #999999;
    width: 100%;
    font-size: 0.8em;
    margin: 0px;
    padding-bottom: 12px;
}

.post-author p {
    margin: 0px;
    padding: 0px;
}

.post-meta {
    display: inline-block;
    color: #999999;
    width: 100%;
    font-size: 0.9em;
    margin: 12px 0px;
    padding: 8px 0px;
    overflow: hidden;
    border-top: 2px dotted rgba(0, 0, 0, 0.12);
    border-bottom: 2px dotted rgba(0, 0, 0, 0.12);
}

.post-meta p {
    margin: 0px;
    padding: 0px;
}

.post-author .fa,
.post-meta .fa {
    margin-right: 2px;
}

.post-meta .fa-tags {
    margin-left: 8px;
}

.updated:not(.published) {
    display: none;
}

.post-edit-link {
    display: inline-block;
    margin: 12px 0px;
}

.author-column {
    float: right;
    width: 72%;
    margin-top: 20px;
    padding-left: 4%;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.author-posts {
    margin: 0px 0px 12px 0px;
    padding: 0px;
}

.author-posts li {
    margin: 0px;
    padding: 6px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.wp-audio-shortcode {
    margin: 12px 0px;
}

.sticky,
.bypostauthor {
    position: relative;
}

.no-results {
    overflow: hidden;
}

#header .outline {
    display: inline-block;
    width: calc(100% - 28px);
    width: -webkit-calc(100% - 28px);
    width: -moz-calc(100% - 28px);
    padding: 12px;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    overflow: visible;
}